{% extends 'base.jinja' %}

{% block styles %}
<style>
</style>
{% endblock %}

{% block main %}
  <div class="container">
    <div class="row mt-4">
      <div class="col-4 offset-1">
        <a href="/ninjas" class="btn btn-lg btn-primary">Ir a Ninjas</a>
      </div>
      <div class="col-4 offset-2">
        <a href="/dojos" class="btn btn-lg btn-primary">Ir a Dojos</a>        
      </div>
    </div>
  </div>
{% endblock %}

{% block javascript %}
  <script>
    const original_title = document.title
    let intervalo;

    document.addEventListener('visibilitychange', function (event) {
      if (document.hidden) {
        intervalo = setInterval(
          function() {
            if (document.title == 'Vuelve ...') {
              document.title = 'Te extrañamos'
            } else {
              document.title = 'Vuelve ...'
            }
          }, 1000
        )
      } else {
        clearInterval(intervalo)
        document.title = original_title
      }
    });
  </script>
{% endblock %}
